{{#list-item-content}}
  {{#if day}}
    <span class="list-view__item-label">{{day.name}}</span>
    <img class="day__icon" src="/images/{{day.icon}}.svg">
    <span class="day__max-temp">{{day.max}}ยบ</span>/<span class="day__min-temp">{{day.min}}ยบ</span>
  {{/if}}
{{/list-item-content}}